NODE_ENV=development
NEXT_PUBLIC_BASE_URL=https://www.clipposaurus.com

# Support Email
NEXT_PUBLIC_CLIPPOSAURUS_CONTACT_EMAIL=support@clipposaurus.com

# Clipposaurus App URLs
NEXT_PUBLIC_DEVELOPMENT_APP_URL=http://localhost:3000
NEXT_PUBLIC_PRODUCTION_APP_URL=https://app.clipposaurus.com

# Clipposaurus Docs URLs
NEXT_PUBLIC_DEVELOPMENT_DOCS_URL=http://localhost:3001
NEXT_PUBLIC_PRODUCTION_DOCS_URL=https://docs.clipposaurus.com

# Clipposaurus Marketing URLs
NEXT_PUBLIC_DEVELOPMENT_MARKETING_URL=http://localhost:3002
NEXT_PUBLIC_PRODUCTION_MARKETING_URL=https://clipposaurus.com

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cache
CACHE_TTL=300000

# Encryption Configuration
DROP=

# reCAPTCHA Configuration
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Rollbar Configuration
NEXT_PUBLIC_ROLLBAR_CLIENT_TOKEN=
ROLLBAR_SERVER_TOKEN=

KEYS=