NODE_ENV=development
NEXT_PUBLIC_BASE_URL=https://www.clipposaurus.com

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# Cache
CACHE_TTL=300000

# Cloudflare R2 Configuration
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ENDPOINT=
CLOUDFLARE_R2_PUBLIC_URL=

# Backblaze B2 Configuration
BACKBLAZE_B2_ACCESS_KEY_ID=
BACKBLAZE_B2_SECRET_ACCESS_KEY=
BACKBLAZE_B2_BUCKET_NAME=
BACKBLAZE_B2_ENDPOINT=
BACKBLAZE_B2_DOWNLOAD_URL=

# Encryption Configuration
DROP=

# reCAPTCHA Configuration
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Rollbar Configuration
NEXT_PUBLIC_ROLLBAR_CLIENT_TOKEN=
ROLLBAR_SERVER_TOKEN=

# Contentful Configuration
CONTENTFUL_SPACE_ID=
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_HOME_PAGE_ID=
CONTENTFUL_CREATE_DROP_PAGE_ID=
CONTENTFUL_OPEN_DROP_PAGE_ID=
CONTENTFUL_PRIVACY_POLICY_PAGE_ID=
CONTENTFUL_TERMS_OF_SERVICE_PAGE_ID=
CONTENTFUL_DOCS_PAGE_ID=

CONTENTFUL_HERO_COMPONENT_ID=
CONTENTFUL_OPTIONS_COMPONENT_ID=
CONTENTFUL_INPUT_CODE_COMPONENT_ID=
CONTENTFUL_CREATE_DROP_MENU_COMPONENT_ID=

KEYS=